# Please keep the entries in this file sorted with the following vi command:
# :3,$!LC_ALL=C sort -fu

*.exe
*.la
*.lo
*.o
*.log
*~
.deps
.libs
aclocal.m4
ar-lib
autom4te.cache/
build/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/sg_scan.8
include/Makefile
INSTALL
install-sh
lib/Makefile
libtool
ltmain.sh
Makefile
Makefile.in
